@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}




.floating { 
  animation-name: floating; 
  animation-duration: 3s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
} 
@keyframes floating { 
  0% { transform: translate(0, 0px); -webkit-transform: translate(0, 0px); -moz-transform: translate(0, 0px); -ms-transform: translate(0, 0px); -o-transform: translate(0, 0px); } 
  50% { transform: translate(0, 8px); } 
  100% { transform: translate(0, -0px); -webkit-transform: translate(0, -0px); -moz-transform: translate(0, -0px); -ms-transform: translate(0, -0px); -o-transform: translate(0, -0px); }  
} 
.floating-4 { 
  animation-name: floating; 
  animation-duration: 4s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
} 
@keyframes floating-4 { 
  0% { transform: translate(0, 0px); } 
  50% { transform: translate(0, 8px); } 
  100% { transform: translate(0, -0px); }  
}




.animation-pulse {
  animation: pulsate 2s infinite;
  -webkit-animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
      transform: scale(0.8);
      box-shadow: 0 0 0 0 #FF3939;
  }

  70% {
      transform: scale(1);
      box-shadow: 0 0 0 60px rgba(229, 62, 62, 0);
  }

  100% {
      transform: scale(0.8);
  }
}

.animate-ball {
  animation: balling 0.5s linear infinite alternate;
  -webkit-animation: balling 0.5s linear infinite alternate;
}

@keyframes balling {
  from { transform: translateX(-50%) scale(0.5); }
  to { tranform: translateX(-50%) scale(1); }
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/*max width for lazy load component*/
span.lazy-load-image-background,
span.lazy-load-image-background > img {
  width: 100%;
}

/*Moving marquee fog thickness*/
div.marquee-container > div.overlay::before, div.overlay::after {
  --gradient-width:80px;
}


/*for roadmap card positioning*/
@media (max-width: 640px) {
 .justifying {
  justify-content: flex-end !important;
 }
}


